<header>
    <nav>
        <ul>
            <li><a href="/admin/settings">Admin Settings</a></li>
            <li><a href="/admin/analytics">Analytics</a></li>
            <li><a href="/users/profile">My Profile</a></li>
            <li><a href="/rides/request">Request Ride</a></li>
        </ul>
    </nav>
</header>