<h2>Login</h2>
<form action="/auth/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="Enter Your Email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter Your Password" required>

    <button type="submit">Login</button>
</form>