<h2>Complete Your Ride</h2>
<form action="/rides/complete" method="POST">
    <input type="hidden" name="rideId" value="<%= ride._id %>">

    <h3>Select a Tip</h3>
    <p>Suggested Tips:</p>
    <% settings.tipOptions.forEach(option => { %>
        <label>
            <input type="radio" name="tipAmount" value="<%= (ride.cost * (option / 100)).toFixed(2) %>">
            <%= option %>% ($<%= (ride.cost * (option / 100)).toFixed(2) %>)
        </label><br>
    <% }); %>

    <label>
        <input type="radio" name="tipAmount" value="custom"> Custom Tip:
        <input type="number" name="customTip" step="0.01" min="0">
    </label><br>

    <button type="submit">Complete Ride</button>
</form>